body {
  margin: 0;
  background: #242424;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  display: flex;
  justify-content: center;
}

.register {
  background: #121212;
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

input {
  display: block;
  margin-top: 10px;
  width: 200px;
  padding: 5px 2px;;
  border: none;
  border-radius: 5px;
}

.btn {
  margin-top: 10px;
  padding: 8px 16px;
  font-family: inherit;
  font-weight: bold;
  color: white;
  background: rgb(43, 84, 94);
  border: none;
  border-radius: 5px;
}